body {
    font-family: "Segoe UI", Tahoma, sans-serif; /* กำหนดฟอนต์หลักของเว็บ */
    margin: 0;   /* ลบระยะขอบรอบนอกของ body */
    padding: 0;  /* ลบระยะห่างภายใน body */
    background: #f4f6f9; /* สีพื้นหลังของหน้าเว็บ */
    color: black; /* สีตัวอักษรหลัก */
}

header {
    background: #2c3e50; /* สีพื้นหลังของ header */
    color: white;        /* สีตัวอักษรใน header */
    padding: 20px;       /* ระยะห่างภายใน header */
    text-align: center;  /* จัดข้อความให้อยู่ตรงกลาง */
}

section {
    margin: 20px auto;   /* ระยะห่างรอบ section และจัดให้อยู่กลาง */
    padding: 20px;       /* ระยะห่างภายใน section */
    max-width: 9000px;    /* กำหนดความกว้างสูงสุด */
    background: white;   /* สีพื้นหลังของ section */
    border-radius: 10px; /* มุมโค้งมน */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* เงาเบา ๆ รอบกล่อง */
}
